*{
  font-family:'Lobster', arial, serif;
  color:white;
}

body{
  width:980px;
  margin:0;
  padding:0;
  background:#001;
  overflow:hidden;
}

#page{
  width:980px;
  background:#CCC;
}

#layout{
  width:930px;
  background:#2CC;
}

h1{
  color:red;
  color:red;
  font-size:66px;
  margin:auto;
  width:500px;
}

h2{
  color:white;
  font-size:24px;
  margin:auto;
  margin-top:-20px;
  width:10px;
}

ul.photos img{
  height:135px;
  display:inline;
}

ul.photos {
  float:right;
  height:135px;
  margin:30px -10px;
  overflow:hidden;
  padding:0;
  width:70%;
}

ul.photos li{
  list-style:none;
  display:inline;
  margin:10px;
}

.flyers {
  float:left;
  padding:25px;
}
.flyers img{
height:575px;
}
.shows{
  border-top:12px double #444;
  font-family:arial; 
  color:white;
  padding:5px 20px;
  text-align:right;
}..


form * {
  font-family:arial;

}

form {
  border-radius:20px 20px 20px 20px;
  -moz-border-radius:20px 20px 20px 20px;
  background:none repeat scroll 0 0 #444444;
  float:left;
  font-family:arial;
  margin:20px;
  margin-left:15px;
  padding:35px 20px;
  width:320px;
}

input{
  font-family:arial;
  color:black;
}

label{
  float:left;
}

label input{
  margin-left:10px;
  display:inline;
}

label span{
  float:left;
  font-family:arial;
  line-height:30px;
}

input.button{
  border:1px solid blue;
  height:20px;
  -moz-border-radius:10px;
  background:#fff;
  border:1px solid #fff;
  height:22px;
  margin-left:10px;
  margin-top:3px;
}

div.shows{
  display:none;
float:left;
}


div.shows *{
  font-family:helvetica, arial, sans-serif;
}

table.gigs{
/*border:1px solid white;*/
}

table.gigs td{
border:1px solid #555;
padding:12px;
}

