*{
  font-family:'Lobster', arial, serif;
  color:white;
}

h1{
color:red;
  color:red;
  font-size:80px;
  margin:auto;
  width:500px;
}

h2{

  color:white;
  font-size:30px;
  margin:auto;
  margin-top:-20px;
  width:10px;
}
..
