<form method="post" action="http://scripts.dreamhost.com/add_list.cgi">
<input type="hidden" name="list" value="soulbot" />
<input type="hidden" name="domain" value="daytonics.com" />
<input type="hidden" name="url" value="" />
<input type="hidden" name="unsuburl" value="" />
<input type="hidden" name="alreadyonurl" value="" />
<input type="hidden" name="notonurl" value="" />
<input type="hidden" name="invalidurl" value="" />
<input type="hidden" name="emailconfirmurl" value="" />
<input type="hidden" name="emailit" value="1" />
<label><span>E-mail:</span><input name="email" /></label>
<input class="button" type="submit" name="submit" value="Join Our Party Line" />
</form>
