<style>
  .shows{
    border-top:12px double #444;
  font-family:arial; 
  color:white;
  padding:5px 20px;
  text-align:right;
}..


</style>

<p class="shows">
the Daytonics next appearance is July 27th, with Dap Tone Records Naomi Shelton, at the Empty Bottle in Chicago.
</p>


<style>
form * {
font-family:arial;

}

form{
-webkit-border-radius:20px;
-moz-border-radius:20px;
border:4px solid #CCC;
padding:20px;
width:400px;
font-family:arial;
background:#444;
float:right;
margin-right:20px;
}

input{
font-family:arial;
color:black;
display:block;
}

label{
float:left;
}

label input{
margin-left:70px;
display:inline;
}

label span{
float:left;
width:20px;
}

</style>
<form method="post" action="http://scripts.dreamhost.com/add_list.cgi">
<input type="hidden" name="list" value="soulbot" />
<input type="hidden" name="domain" value="daytonics.com" />
<input type="hidden" name="url" value="" />
<input type="hidden" name="unsuburl" value="" />
<input type="hidden" name="alreadyonurl" value="" />
<input type="hidden" name="notonurl" value="" />
<input type="hidden" name="invalidurl" value="" />
<input type="hidden" name="emailconfirmurl" value="" />
<input type="hidden" name="emailit" value="1" />
<label><span>Name:</span><input name="name" /></label>
<label><span>E-mail:</span><input name="email" /></label>
<input type="submit" name="submit" value="Join Our Party Line" />
<input type="submit" name="unsub" value="Drop the call" />
</form>
