<style>
  .shows{
    border-top:12px double #444;
  font-family:arial; 
  color:white;
  padding:5px 20px;
  text-align:right;
}..

</style>

<p class="shows">
the Daytonics are playing on July 27th with Naomi Shelton at the Empty Bottle 
</p>
